.container {
  max-width: 1080px !important;
}
.pwd_reset_form,
.pwd_change_form {
  margin: 10px;
}
.pwd_reset_form label,
.pwd_change_form label,
.pwd_change_form button {
  margin: 10px;
}
.pwd_change_form button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
