.container {
  background-color: #f5f5f5;
}
.container {
  margin: 15px auto 0 auto !important;
  border: none !important;
  padding: 0 !important;
}
header {
  margin: 50px 0 50px 50px;
}
header a,
header span {
  margin: 10px;
}
header a {
  font-size: x-large;
}
header a:hover {
  text-decoration: none;
}
header span {
  font-size: large;
}
.col-lg-7 {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  height: 380px;
}
.col-lg-7 h2 {
  text-align: center;
  color: darkcyan;
  font-weight: 700;
}

.signin_form h4 {
  text-align: center;
  padding-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(239, 237, 237);
}
.form-group input::placeholder {
  opacity: 0.7;
}
.forget_pwd {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px 0 0;
  font-style: italic;
}
.signin_btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.nav_signup {
  display: block;
  text-align: center;
  padding-bottom: 15px;
}
.signup {
  color: red;
  font-style: italic;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 350px) {
  header {
    margin: 30px 0 30px 30px;
  }
  header a,
  header span {
    margin: 5px;
  }
  header a {
    font-size: large;
  }
  header span {
    font-size: small;
  }
  .col-lg-7 h2 {
    font-weight: 600;
    font-size: x-large;
  }
  .signin_form h4 {
    font-size: medium;
  }
}
@media screen and (max-width: 768px) {
  .col-lg-7 {
    margin-top: 10px;
    display: block;
    height: 30px;
  }
}
