ul.pagi_nation {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: center;
}
.pagi_nation .is_disabled {
    cursor: not-allowed;
}
.pagi_nation a {
    color:black;
    text-decoration:none;
}
.pagi_nation li {
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagi_nation li:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.pagi_nation li:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.pagi_nation li:hover {
    background-color: #eee;
}
.pagi_nation a:hover {
    color:black;
    text-decoration:none;
}
.pagi_nation  li.is_disabled:hover {
    background-color:#fff;
}
.pagi_nation li.is_active, li.is_active>a:hover {
    color:#fff;
    background-color:#05c5cc;
    border-top: 1px solid #05c5cc;
    border-bottom: 1px solid #05c5cc;
}