

footer
{
    width: 100%;
    margin-top: -40px;
    background-color: #05c5cc;
}
.footer_row {
    display: flex;
    margin: auto;
    padding: 10px;
}
.footer_col {
    width: 33.33%;
    line-height: 1.5;
    padding: 10px;
    margin: 10px 10px;
}
.footer_col a, .footer_col p, .footer_col h6 {
    color: #fff;
}
.footer_col a:hover {
    color: #fee26f;
}
.ft_horizontal_line {
    width: 20px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: -30px;
    background-color: white;
}
.footer_col h6#ft_cl1_header {
    color: white;
    font-size: 25px;
    margin-top: 0px;
}
.HCM {
    margin-top: -30px;
}
.footer_col h6, .footer_col  b {
    color: white;
    margin-top: 0px;
}

@media only screen and (max-width: 450px) {
    .footer_row {
        display: block;
        margin: auto;
        padding: 10px;
    }
    .footer_col {
        width: 100%;
        line-height: 1;
        padding: 10px;
        margin: 10px 10px;
    }
  }
  @media screen and (min-width: 451px) and (max-width: 700px) {
    .footer_row {
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        padding: 10px;
    }
    .footer_col {
        width: 50%;
        line-height: 1.2;
        padding: 10px;
        margin: 10px 10px;
    }
  }